# datatype

In [2]:
# numeric
# int,float
# type() - return datatype --- object
a=10
print(a)
print(type(a))

10
<class 'int'>

In [3]:
a=10.5
print(a)
print(type(a))

10.5
<class 'float'>

In [6]:
a=10
b=2
c=a/b
print(c)
print(type(c))

5.0
<class 'float'>

In [10]:
# string- ordered sequence of character.
# denoted by '' or "" ,multiline string ''' '''
# indexed ,immutable.
s=""    #empty string
print(s)
print(type(s))

<class 'str'>

In [20]:
s='hello'
print(s)
print(type(s))
print(s[0])   #indexed
s[0]="z"      # immutable
print(s)

hello
<class 'str'>
h

TypeError: 'str' object does not support item assignment

In [19]:
s='''hello
welcome
to 
bhopal '''
print(s)
print(type(s))

hello
welcome
to
bhopal
<class 'str'>

In [36]:
# list - collection of elements
# denoted by [] with csv.
# ordered,indexed,mutable and heterogenous in nature.
l=[]   #empty list
print(l)
print(type(l))

[]
<class 'list'>

In [41]:
l=[10,20,30,"hello",10.5,120]
print(l)
print(type(l))
print(l[0])  # indexed
l[1]="decode"  # mutable
print(l)

[10, 20, 30, 'hello', 10.5, 120]
<class 'list'>
10
[10, 'decode', 30, 'hello', 10.5, 120]

In [42]:
# tuple- collection of element
# denoted by () with csv.
# ordered,indexed,immutable and heterogenous
t=()  #empty tuple
print(t)
print(type(t))

()
<class 'tuple'>

In [48]:
# single valued tuple
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [53]:
t=(10,20,"hello",10.5,100,"decode")
print(t)
print(type(t))
print(t[2])  #indexed
t[2]="bhopal"
print(t)

(10, 20, 'hello', 10.5, 100, 'decode')
<class 'tuple'>
hello

TypeError: 'tuple' object does not support item assignment

In [1]:
# dictionary- collection of element
# denoted by {K:V}
# Keys must be unique but value can be duplicate.
# ordered,unindexed,mutable.
d={}
print(d)   # empty dictionary
print(type(d))

{}
<class 'dict'>

In [10]:
d={"name":"abc","course":"DA","fees":25000}
print(d)
print(type(d))
print(d["course"])
d["name"]="xyz"
print(d)

{'name': 'abc', 'course': 'DA', 'fees': 25000}
<class 'dict'>
DA
{'name': 'xyz', 'course': 'DA', 'fees': 25000}

In [11]:
d={}
d["name"]="abc"
print(d)

{'name': 'abc'}

In [15]:
d={"name":["abc","def"],"courses":["DA","DS"],"fees":
  [25000,35000]}
print(d)
print(d["name"][0])
d["name"][0]="decode"
print(d)

{'name': ['abc', 'def'], 'courses': ['DA', 'DS'], 'fees': [25000, 35000]}
abc
{'name': ['decode', 'def'], 'courses': ['DA', 'DS'], 'fees': [25000, 35000]}

In [17]:
# set - collection of element.
# denoted by {} with csv

# unordered,unindexed,mutable and heterogenous in nature.
# stored unique value.
s=set()   # empty set.
print(s)
print(type(s))

set()
<class 'set'>

In [19]:
s={10,20,30,"hello",10.5,10,10,10}
print(s)
print(type(s))
s.add(1000)
print(s)

{10.5, 20, 'hello', 10, 30}
<class 'set'>
{10.5, 20, 'hello', 1000, 10, 30}

In [23]:
s=frozenset({10,20,30,40,20,20,30,"hello",100.5})
print(s)
print(type(s))
s.add(1000)
print(s)

frozenset({100.5, 20, 'hello', 40, 10, 30})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [24]:
# input() - runtime-- input
# always take string value as an input.
a=input("enter any number: ")
b=input("enter any number: ")
c=a+b
print(c)

enter any number:  1
enter any number:  1

11

In [28]:
#typecasting
a="10"
b=int(a)
print(b)
print(type(b))

10
<class 'int'>

In [29]:
a=int(input("enter any number: "))
b=int(input("enter any number: "))
c=a+b
print(c)

enter any number:  1
enter any number:  1

2

In [32]:
a=float(input("enter any number: "))
b=int(input("enter any number: "))
c=a+b
print(c)

enter any number:  10
enter any number:  5

15.0

In [33]:
n=10
if n%2==0:
    print(n,"even number")

10 even number

In [35]:
n=int(input("enter any number: "))
if n%2==0:
    print(n,"even number")

enter any number:  7

In [36]:
n=int(input("enter any number: "))
if n%2==0:
    print(n,"even number")
else:
    print(n,"odd number")

enter any number:  7

7 odd number

In [5]:
# wapp to check whether a user to eligible to vote or not?
#take age as a input variable
n=int(input("enter age: "))
if n<18:
        print(n,"non eligible")
else:
        print(n,"eligible")

enter age:  18

18 eligible

In [7]:
# wapp to check whether a given number is divisible by 3 or not?
n=int(input("enter any number: "))
if n%3==0:
    print(n,"divisible")
else:
    print(n,"not divisible")

enter any number:  39

39 divisible

In [8]:
# wapp to check whether a last digit of any number is divisible by 3 or not? 
n=int(input("enter any number"))
last_digit=n%10
if last_digit%3==0:
    print(last_digit,"divisible")
else:
    print(last_digit,"not divisible")

enter any number 1176

6 divisible

In [11]:
#implement a programme that represent a atm ask user for acc balance and the amount he wants to withdraw?
#if withdrawl amt is less than equal to acc balance than update the final balance, if withdrawl amt is greater than 
# acc balance than show insufficient balance.

acc_bal=int(input("enter acc balance"))
with_amt=int(input("enter the withdrawl amount"))
if with_amt<=acc_bal:
    print(acc_bal-with_amt)
else:
    print("insufficient balance")

enter acc balance 1000
enter the withdrawl amount 1000

0

In [1]:
n=int(input("enter any number"))
if n>0:
    print(n,"positive")
elif n<0:
    print(n,"negative")
else: print(n,"zero")

enter any number 10

10 positive

In [2]:
# wapp to check whether a given number is positive, negative or zero, if the no. is  pos. also check it is even or odd.
n=int(input("enter any number"))
if n>0:
    print(n,"positive")
    if n%2==0:
        print(n,"even")
    else: 
        print(n,"odd")
elif n<0:
    print(n,"negative")
else: 
    print(n,"zero")

enter any number 12

12 positive
12 even

In [4]:
m1=int(input("m1"))
m2=int(input("m2"))
m3=int(input("m3"))

obtained_marks=m1+m2+m3
print(obtained_marks)
percentage=obtained_marks/300*100
print(percentage)

if percentage>=65:
    print(percentage,"first division")
elif percentage>=50:
    print(percentage,"second division")
elif percentage>=33:
    print(percentage,"third division")
else:
    print(percentage,"fail")

m1 75
m2 80
m3 85

240
80.0
80.0 first division

In [6]:
# wapp to find largest among three no. 
num1=int(input("enter any number"))
num2=int(input("enter any number"))
num3=int(input("enter any number"))
if num1>num2 and num1>num3:
    largest=num1
elif num2>num1 and num2>num3:
    largest=num2
else:
    largest=num3
print("largest number:", largest)

enter any number 100
enter any number 200
enter any number 300

largest number: 300

In [10]:
#wapp to check whether a triangle is equilateral, scalene or isoceles triangle (first check triangle is valid or invalid)
side1=int(input("length of side1: "))
side2=int(input("length of side2: "))
side3=int(input("length of side3: "))
if side1+side2>side3 or side1+side3>side2 or side2+side3>side1:
    if side1==side2==side3:
        print("equilateral triangle")
    elif side1!=side2!=side3:
        print("scalene triangle")
    else:
        print("isoceles triangle")
else: 
    print("invalid triangle")

length of side1:  0
length of side2:  0
length of side3:  0

invalid triangle

In [1]:
#wapp to check whether a given year is leap year or not?
year=int(input("enter any year: "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"century leap year")
        else:
            print(year,"century year but not a leap year")
    else:
        print(year,"leap year")
else:
    print(year,"not a leap year")

enter any year:  1954

1954 not a leap year

In [3]:
year=int(input("enter any year: "))
if (year%4==0 and year%100!=0) or year%400==0:
    print(year,"leap year")
else:
    print(year,"not a leap year")

enter any year:  1000000

1000000 leap year

In [4]:
for i in range(1,8,2):
    print(i)

1
3
5
7

In [6]:
for i in range(10,-3,-2):
    print(i,end=" ")

10 8 6 4 2 0 -2

In [10]:
#wapp to print first n natural numbers?(n- user input)
n=int(input("enter any number: "))
for i in range(1,n+1):
    print(i,end=" ")

enter any number:  25

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [11]:
#wapp to print first n even number?(n- user input)
n=int(input("enter any number: "))
for i in range(2,n*2+1,2):
    print(i,end=" ")

enter any number:  10

2 4 6 8 10 12 14 16 18 20

In [17]:
n=int(input("enter any number: "))
for i in range(1,n*2,2):
    print(i,end=" ")

enter any number:  10

1 3 5 7 9 11 13 15 17 19

In [19]:
n=int(input("enter any number: "))
for i in range(1,n*2+1):
    if i%2==0:
        print(i,"even number")
    else:
        print(i,"odd number")

enter any number:  10

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number
11 odd number
12 even number
13 odd number
14 even number
15 odd number
16 even number
17 odd number
18 even number
19 odd number
20 even number

In [1]:
#wapp to print sum of first n natural numbers?
n=int(input("enter any number: "))
sum_natural=0
for i  in range(1,n+1):
    sum_natural=sum_natural+i
print(sum_natural)

enter any number:  10

55

In [ ]:
#wapp to print sum of first n even and n odd numbers?
n=int(input("enter any numbner: "))
sum_even=0
sum_odd=0
for i in range(1,2*n+1,1):
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i
print("sum of even numbers: ",sum_even)
print("sum of odd numbers: ",sum_odd)

In [9]:
#wapp to print factorial of n numbers?
n=int(input("enter any number: "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

enter any number:  5

120

In [2]:
#wapp to print count of even and odd no. between 1000 and 2000 both are inclusive.
even_count=0
odd_count=0

for i in range(1000,2001):
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print("even_numbers= ",even_count)
print("odd_numbers= ",odd_count)

even_numbers=  501
odd_numbers=  500

In [4]:
#wapp to print sum of first n whole number?
n=int(input("enter any number: "))
sum=0
for i in range(n+1):
    sum+=i
print("sum =",sum)

enter any number:  10

sum = 55