In [1]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
t=("hello",)
print(t)
print(type(t))

('hello',)
<class 'tuple'>

In [5]:
t=(10,20,"hello",10.5,"h")
print(t)
print(type(t))
print(t[0])   # indexed
t[0]="decode"  # immutable
print(t)

(10, 20, 'hello', 10.5, 'h')
<class 'tuple'>
10

TypeError: 'tuple' object does not support item assignment

In [6]:
t=(10,20,"hello",10.5,"h")
for i in t:
    print(i)

10
20
hello
10.5
h

In [8]:
t=(10,20,"hello",10.5,"h")
for i in range(len(t)):
    print(t[i])

10
20
hello
10.5
h

In [10]:
# function 
# len(tupleobj)
t=(10,20,30,40,50)
print(len(t))
count=0
for i in t:
    count=count+1
print(count)

5
5

In [12]:
#sum()
t=(10,20,30,40,50)
print(sum(t))
sum=0
for i in t:
    sum=sum+i
print(sum)

150
150

In [15]:
t1=(10,20,30,40)
t2=(100,200,300)
t=t1+t2
print(t)

(10, 20, 30, 40, 100, 200, 300)

In [16]:
# zip()
t1=(10,20,30,40)
t2=(100,200,300)
for i,j in zip(t1,t2):
    print(i,j)

10 100
20 200
30 300

In [18]:
# max(tupleobj)
# min(tupleobj)
t=(10,20,100,-1,30)
print(max(t))
print(min(t))

100
-1

In [20]:
t=(10,20,100,-1,30)
max_value=t[0]
for i in t:
    if i>max_value:
        max_value=i
print(max_value)

100

In [21]:
t=(10,20,100,-1,30)
min_value=t[0]
for i in t:
    if i<min_value:
        min_value=i
print(min_value)

-1

In [4]:
t=(10,1,25,100)
t1=sorted(t,reverse=True)
print(tuple(t1))

(100, 25, 10, 1)

In [13]:
t=(10,1,25,100)
t1=list(t)
for i in range(len(t1)):
    for j in range(i+1,len(t1)):
        if t1[j]>t1[i]:
            t1[i],t1[j]=t1[j],t1[i]
print(tuple(t1))

(100, 25, 10, 1)

In [15]:
# sorted(seqtype,[reverse=false])
# sorted function always return a new list
t=(10,1,25,100)
t1=sorted(t,reverse=True)
print(tuple(t1))

(100, 25, 10, 1)

In [17]:
t=(10,1,25,100)
l=list(t)
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
print(tuple(l))

(100, 25, 10, 1)

In [20]:
# index
# tupleobj.index(element,[start],[stop])
t=(10,20,30,"hello",10.5,10,20,"decode")
print(t.index(20))
print(t.index(20,2))
print(t.index(20,2,6))

1
6

ValueError: tuple.index(x): x not in tuple

In [28]:
# count()- occurence elments
# tupleobj.count(element)
t=(10,20,30,"hello",10.5,10,20,"decode")
print(t.count("hello"))
print(t.count(10))

1
2